#Listas

In [6]:
# Crear una lista
mi_lista = [1,7,3,2,2,12]
print("Lista: ", mi_lista)

Lista:  [1, 7, 3, 2, 2, 12]

In [35]:
type(mi_lista)

list

In [7]:
# Acceder a elementos de la lista
primer_elemento = mi_lista[0]
segundo_elemento = mi_lista[1]
ultimo_elemento = mi_lista[-1]
ultimo_elemento2 = mi_lista[5]
print("Primer elemento: ", primer_elemento)
print("Segundo elemento: ", segundo_elemento)
print("Último elemento: ", ultimo_elemento)
print("Último elemento: ", ultimo_elemento2)

Primer elemento:  1
Segundo elemento:  7
Último elemento:  12
Último elemento:  12

In [8]:
# Modificar elementos de la lista
mi_lista[1] = 23
print("Lista modificada: ", mi_lista)

Lista modificada:  [1, 23, 3, 2, 2, 12]

In [32]:
# Metodos comunes para listas
# mi_lista.append(6)
# mi_lista.append(5)
# mi_lista.remove(5)
# mi_lista.pop()
mi_lista.sort()
print("Lista modificada: ", mi_lista)

Lista modificada:  [1, 2, 23]

#Tuplas

In [40]:
# Crear una tupla
mi_tupla = (1,21,3,41,25)
print("Tupla: ", mi_tupla)

Tupla:  (1, 21, 3, 41, 25)

In [34]:
type(mi_tupla)

tuple

In [41]:
# Acceder a elementos de la tupla
primer_elemento = mi_tupla[0]
segundo_elemento = mi_tupla[1]
ultimo_elemento = mi_tupla[-1]
print("Primer elemento: ", primer_elemento)
print("Segundo elemento: ", segundo_elemento)
print("Último elemento: ", ultimo_elemento)

Primer elemento:  1
Segundo elemento:  21
Último elemento:  25

In [43]:
# Da error porque no podemos modificar los valores de una tupla
# mi_tupla[1] = 23

# Ejercicio practico

In [45]:
# Crear una lista
mi_lista = [10,20,30,40,50]
print("Lista: ", mi_lista)

Lista:  [10, 20, 30, 40, 50]

In [46]:
# Modificar elemento
mi_lista[2] = 21
print("Lista modificada: ", mi_lista)

Lista modificada:  [10, 20, 21, 40, 50]

In [47]:
# Usar metodos de lista
mi_lista.append(55)
mi_lista.remove(40)
print("Lista modificada: ", mi_lista)

Lista modificada:  [10, 20, 21, 50, 55]

In [48]:
# Crear tupla
mi_tupla = (100,200,300,400,500)
print("Tupla: ", mi_tupla)

Tupla:  (100, 200, 300, 400, 500)

In [49]:
# Accedemos a segundo y penultimo elemento
segundo_elemento = mi_tupla[1]
penultimo_elemento = mi_tupla[-2]
print("Segundo elemento: ", segundo_elemento)
print("Penultimo elemento: ", penultimo_elemento)

Segundo elemento:  200
Penultimo elemento:  400