#Diccionarios

In [1]:
# Crear un diccionario
mi_diccionario = {
    "nombre": "Jose",
    "edad": 52,
    "ciudad": "Sevilla"
}
print("Diccionario: ", mi_diccionario)

Diccionario:  {'nombre': 'Jose', 'edad': 52, 'ciudad': 'Sevilla'}

In [2]:
type(mi_diccionario)

dict

In [3]:
# Acceso a elementos del diccionario
nombre = mi_diccionario["nombre"]
edad = mi_diccionario["edad"]
print("Nombre: ", nombre)
print("Edad: ", edad)

Nombre:  Jose
Edad:  52

In [4]:
# Modificar elementos
mi_diccionario["edad"] = 34
print("Edad modificada: ", mi_diccionario["edad"])

Edad modificada:  34

In [5]:
# Metodos mas comunes en diccionarios
mi_diccionario["pais"] = "España"
edad = mi_diccionario.pop("edad")
claves = mi_diccionario.keys()
valores = mi_diccionario.values()
print("Diccionario modificado: ", mi_diccionario)
print("Claves: ", claves)
print("Valores: ", valores)

Diccionario modificado:  {'nombre': 'Jose', 'ciudad': 'Sevilla', 'pais': 'España'}
Claves:  dict_keys(['nombre', 'ciudad', 'pais'])
Valores:  dict_values(['Jose', 'Sevilla', 'España'])

#Conjuntos

In [6]:
# Crear conjunto
mi_conjunto = {1, 2, 3, 4, 5}
print("Conjunto: ", mi_conjunto)

Conjunto:  {1, 2, 3, 4, 5}

In [7]:
type(mi_conjunto)

set

In [8]:
# Operaciones con conjuntos
otro_conjunto = {3, 4, 5, 6, 7}

In [9]:
# Union
union = mi_conjunto | otro_conjunto
print("Union: ", union)

Union:  {1, 2, 3, 4, 5, 6, 7}

In [10]:
# Interseccion
interseccion = mi_conjunto & otro_conjunto
print("Interseccion: ", interseccion)

Interseccion:  {3, 4, 5}

In [11]:
# Diferencia
diferencia = mi_conjunto - otro_conjunto
print("Diferencia: ", diferencia)

Diferencia:  {1, 2}

In [17]:
# Metodos comunes
mi_conjunto.add(10)
mi_conjunto.remove(8)
mi_conjunto.update([71,8,9])
mi_conjunto.discard(25)
print("Conjunto modificado: ", mi_conjunto)

Conjunto modificado:  {1, 5, 7, 8, 9, 10, 71}

#Ejercicio practico

In [20]:
# Crea el diccionario
diccionario = {
    "nombre": "Lucia",
    "edad": 34,
    "ciudad": "Madrid"
}
print("Diccionario: ", diccionario)

Diccionario:  {'nombre': 'Lucia', 'edad': 34, 'ciudad': 'Madrid'}

In [19]:
# accede y modifica
diccionario["edad"] = 42
print("Edad modificada: ", diccionario["edad"])

Edad modificada:  42

In [21]:
# metodos
ciudad = diccionario.pop("ciudad")
claves = diccionario.keys()
print("Diccionario modificado: ", diccionario)
print("Claves: ", claves)
print("Ciudad eliminada", ciudad)

Diccionario modificado:  {'nombre': 'Lucia', 'edad': 34}
Claves:  dict_keys(['nombre', 'edad'])
Ciudad eliminada Madrid

In [22]:
# Crear conjunto
conjunto = {4,5,8,1,2,9}
print("Conjunto: ", conjunto)

Conjunto:  {1, 2, 4, 5, 8, 9}

In [23]:
type(conjunto)

set

In [24]:
otro_conjunto = {51,22,3,4,5}
print("Otro conjunto: ", otro_conjunto)

Otro conjunto:  {3, 4, 5, 51, 22}

In [25]:
# Union
union = conjunto | otro_conjunto
print("Union: ", union)

Union:  {1, 2, 3, 4, 5, 8, 9, 51, 22}

In [26]:
# Diferencia
diferencia = conjunto - otro_conjunto
print("Diferencia: ", diferencia)

Diferencia:  {8, 1, 2, 9}